{% extends "rest_framework/base.html" %}

{# Override this template in your own templates directory to customize #}

{% load rest_framework %}

{% block title %}Panubo DNS{% endblock %}

{% block branding %}<a class='navbar-brand' href='/'>Panubo DNS</a>{% endblock %}

{% block userlinks %}
    {% if user.is_authenticated %}
        <li class="dropdown">
             <li>{% optional_logout request user %}</li>
        </li>
    {% else %}
        <li>{% optional_login request %}</li>
    {% endif %}
{% endblock %}